# runtime files
node_modules/
out/
*.vsix
.vscode-test/

# OS files
.DS_Store
Thumbs.db

# ts build
*.tsbuildinfo

# unsed env (for now)
.env
.env.local

# logs
*.log
npm-debug.log*

# personal settings
.vscode/settings.json

# backups
*.bak
*.backup